{% extends 'student/studentbase.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style media="screen">
        a:link {
            text-decoration: none;
        }

        h6 {
            text-align: center;
        }

        .row {
            margin: 50px;
        }
    </style>
</head>
<div class="container mt-4">
    <div class="jumbotron">
        <h2 class="text-center">Questions Submitted by You</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in submitted_questions %}
                        <tr>
                            <td>{{ question.question }}</td>
                            <td>
                                <ul>
                                    <li style="{% if question.answer == 'Option1' %} background-color: #c7ffce; font-weight: bold; {% endif %}">{{ question.option1 }}</li>
                                    <li style="{% if question.answer == 'Option2' %} background-color: #c7ffce; font-weight: bold; {% endif %}">{{ question.option2 }}</li>
                                    <li style="{% if question.answer == 'Option3' %} background-color: #c7ffce; font-weight: bold; {% endif %}">{{ question.option3 }}</li>
                                    <li style="{% if question.answer == 'Option4' %} background-color: #c7ffce; font-weight: bold; {% endif %}">{{ question.option4 }}</li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
