{% extends 'student/studentbase.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div class="container mt-4">
    <div class="jumbotron">
        <h2 class="text-center">Course: {{ course.course_name }}</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="number-list">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <h6 class="text-center">Question Number</h6>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in grouped_numbers %}
                            <tr>
                                {% for digit in group %}
                                <td class="text-center">
                                    <button class="btn btn-primary" onclick="showQuestion({{ digit|add:"-1" }})">
                                        {{ digit }}
                                    </button>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="question-content" id="questionContainer">
                            <!-- The question and options will be displayed here -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-3">
                        <button class="btn btn-primary" id="prevBtn" onclick="showPreviousQuestion()">Previous</button>
                        <button class="btn btn-primary ml-2" id="nextBtn" onclick="showNextQuestion()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var currentQuestionIndex = 0;
    var questions = JSON.parse('{{ questions_json|escapejs }}');
    var questionContainer = document.getElementById('questionContainer');
    var prevBtn = document.getElementById('prevBtn');
    var nextBtn = document.getElementById('nextBtn');
    var answerSelected = false; // Flag to track if an answer is selected
    
    function showQuestion(index) {
        currentQuestionIndex = index;
        var currentQuestion = questions[index];
        var questionHtml =
        '<div id="timer" style="text-align: center;"></div>' +
        '<div id="timerMessage" style="text-align: center;"></div>' +
        '<h3 class="text-danger">' + (index + 1) + '. ' + currentQuestion.question_text + '</h3>' +
    
        '<div class="form-check mx-4">' +
        '<input class="form-check-input" type="radio" name="answer" id="option1" value="Option1">' +
        '<label class="form-check-label" for="option1">' + currentQuestion.options[0] + '</label>' +
        '</div>' +
        '<div class="form-check mx-4">' +
        '<input class="form-check-input" type="radio" name="answer" id="option2" value="Option2">' +
        '<label class="form-check-label" for="option2">' + currentQuestion.options[1] + '</label>' +
        '</div>' +
        '<div class="form-check mx-4">' +
        '<input class="form-check-input" type="radio" name="answer" id="option3" value="Option3">' +
        '<label class="form-check-label" for="option3">' + currentQuestion.options[2] + '</label>' +
        '</div>' +
        '<div class="form-check mx-4">' +
        '<input class="form-check-input" type="radio" name="answer" id="option4" value="Option4">' +
        '<label class="form-check-label" for="option4">' + currentQuestion.options[3] + '</label>' +
        '</div>';

        questionContainer.innerHTML = questionHtml;
        updateQuestionNumbersHighlight(index);
    }
    
    function updateQuestionNumbersHighlight(index) {
        // Update the question numbers' colors to highlight the current question
        var questionNumbers = document.querySelectorAll('.number-list button');
        questionNumbers.forEach(function (numberElement, i) {
            var isCurrent = i === index;
            numberElement.classList.toggle('btn-primary', isCurrent);
        });
    
        // Enable/disable next and previous buttons based on the current question index
        prevBtn.disabled = index === 0;
        nextBtn.disabled = !answerSelected; // Disable if an answer is not selected
    }
    
    function showNextQuestion() {
        if (currentQuestionIndex < questions.length - 1) {
            currentQuestionIndex++;
            showQuestion(currentQuestionIndex);
            answerSelected = false; // Reset the answer flag for the next question
        }
    }
    
    function showPreviousQuestion() {
        if (currentQuestionIndex > 0) {
            currentQuestionIndex--;
            showQuestion(currentQuestionIndex);
            answerSelected = false; // Reset the answer flag for the previous question
        }
    }
    
    // Handle radio button selection
    document.addEventListener('change', function (event) {
        if (event.target.type === 'radio' && event.target.name === 'answer') {
            answerSelected = true;
            nextBtn.disabled = false; // Enable next button when an answer is selected
        }
    });
    
    // Initial display of the first question
    showQuestion(currentQuestionIndex);
    
    
</script>
<br><br><br><br><br><br>
{% endblock content %}
